
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
/********  LISTA PERRITOS  *********/

.filtro-lista {
    background-color: #e8eeef;
    padding: 15px;
    width: 80%;
    margin: 0px auto;
}


hr{
    width: 70px;
    border: none;
    background: #818181;
    height: 4px;
    display: inline-block;
    margin-bottom: 10px;
}

.filtro-lista .btn-agregar{
    background-color: #85D4B7;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

.filtro-lista .form-filtro {
    display: inline-block;
}

.filtro-lista .form-filtro select{
    background-color: #fff;
    display: inline-block;
    padding: 10px 15px;
    margin: 0px;
}

.filtro-lista .form-filtro input{
    background-color: #85D4B7;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.perritos {
    width: 80%;
    margin: 40px auto;
}
.perrito-item {
    background-color: #e8eeef;
    padding: 10px;
    margin: 10px 0px;
}

.perrito-item .col-imagen img{
    width: 100%;
}

.perrito-item .col-datos h2 a{
    font-size: 1.1em;
    color: #666666;
    text-decoration: none;
}

.perrito-item .col-datos .perrito-raza{
    font-size: 0.9em;
    color: #666666;
    margin-bottom: 10px;
}

.perrito-item .col-datos .btn-perrito-item{
    background-color: #85D4B7;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
}

/********* AGREGAR PERRITO *********/
#formulario_registro input[type='file']{
    border: none;
    font-size: 16px;
    display: block;
    padding: 10px 0px;
    width: 100%;
    margin-bottom: 30px;
}

.btn-agregar-perrito {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #6DCCAA;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .btn-agregar-perrito:hover {
      background-color: #85D4B7;
  }


/******** TEXTO DE FORMULARIO DJANGO ********/
.helptext, .helptext ul{
    display: none;
}

.errorlist li {
    padding: 10px;
    margin: 5px 0px 15px;
    list-style: none;
    background-color: #FFCCCC;
    color:#BF4F45;
    border: 1px solid #BF4F45;
    border-radius: 3px;
}


/******* PRE HEADER *******/
.pre-header{
    background-color: #6DCCAA;
    padding: 5px;
}

.pre-header .contenedor-login {
    width: 85%;
}

.pre-header .contenedor-login p {
    font-size: 0.8em;
    display: inline-block;
    margin-right: 10px;
    color: #fff;
}
.pre-header .contenedor-login a {
    color: #fff;
    text-decoration: none;
    margin: 7px 10px;
    font-size: 0.8em;
    display: inline-block;
}

.pre-header .contenedor-login a:hover {
    text-decoration: underline;
}
.pre-header .contenedor-login .logout{
    display: inline-block;
}
.cerrar-sesion {
    padding: 5px;
    border: none;
    background: #fff;
    color: #6DCCAA;
    border-radius: 3px;
    cursor: pointer;
}

/******* HEADER ********/

.menu-default, .header-mobile {
    background-color: #85D4B7;
    padding: 10px 10px;
    width: 100%;
    z-index: 9999;

}

.contenedor .menu-default .logo img{
    width: 90%;
    max-width: 329px;
}

.menu {
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border-radius: 3px;
    
}

.menu a:hover {
    background-color: #fff;
    color: #6DCCAA;
}

.header-mobile {
    display: none;
}

@media only screen and (max-width: 480px) {
    
    .menu-default {
        display: none;
    }
    .header-mobile {
        display: block;
        width: 100%;
    }
    .header-mobile .menu-cerrado{
        display: flex;
        width: 100%;
        margin: 0px;
        padding: 15px;
        justify-content: space-between;
        align-items: center;
    }
    .header-mobile .menu-cerrado .logo {
        max-width: 200px;
    }

    .header-mobile .menu-cerrado .logo img{
        width: 100%;
    }

    .menu-cerrado .abrir-menu a {
        display: inline;
    }

    .menu-abierto {
        width: 100%;
        text-align: center;
    }
    .menu-mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .menu-mobile a {
        text-decoration: none;
        color: #fff;
        padding: 10px;
    }
}


/* Correcion de espacio extra a los costados ocasionado por margen que agrega flexboxgrid*/
.contenedor .row {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
}


/****** SLIDER ******/
.caja-slider {
    height: 500px;
    
}

#slides .slides-container li .container {
    float: left;
    margin-left: 20px;
    margin-top: 300px;
    max-width: 250px;
    width: 70%;
    background-color:rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: left;
    padding: 10px;
}

/****** Redes Sociales *******/
 

.contenedor-social{
    background-color: #6DCCAA;
    color: #ffffff;
    padding: 30px;
    font-weight: bold;
}

.redes-sociales a{
    margin: 0px 7px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}

.redes-sociales a img{
    margin: 10px;
    display: block;
    width: 20px;
}
/******* CONTENIDO CUERPO ********/

.contenedor-cuerpo{
    padding-bottom: 30px;
    padding-top: 30px;
}


/*IZQUIERDA*/
.izquierda{
    padding-right: 15px;
}

.izquierda h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.izquierda h3{
    font-weight: normal;
    color: #999999;
    margin-bottom: 20px;
}

.izquierda hr{
    width: 70px;
    border: none;
    background: #818181;
    height: 4px;
    display: inline-block;
    margin-bottom: 20px;
}

.izquierda p{
    color: #666666;
    font-weight: bold;
    margin-bottom: 20px;
}

.izquierda img{
    max-width: 300px;
    width: 90%;
    margin-bottom: 40px;
}
/*DERECHA*/
.derecha{
    padding-left: 15px;
}

.derecha .row h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.derecha .row h3{
    font-weight: normal;
    color: #999999;
    margin-bottom: 20px;
}

.derecha .row hr{
    width: 70px;
    border: none;
    background: #818181;
    height: 4px;
    display: inline-block;
    margin-bottom: 20px;
}

.derecha .row p{
    color: #666666;
    font-weight: bold;
    margin-bottom: 20px;
}

.derecha .row img{
    max-width: 300px;
    width: 90%;
}

.derecha .btn-campanas{
    text-decoration: none;
    color: #000000;
    border-color: #000000;
    border: solid 2px;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.derecha .btn-campanas:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

/****** GALERIA DE IMAGENES ******/
.galeria {
    background-color: #6DCCAA;
    padding-top: 50px;
    padding-bottom: 50px;
}

.galeria .galeria-texto {
    color: #fff;
    margin-bottom: 30px;
}
.galeria .galeria-texto h1 {
    margin-bottom: 10px;
}

.galeria .galeria-texto p {
    font-weight: bold;
}

.grid .grid-item img {
    width: 100%;
}

/****** CONTACTO ******/
.contacto {
    padding-top: 50px;
    padding-bottom: 50px;
}

.contacto-texto h1{
    margin-bottom: 10px;
    color: #000000;
}

.contacto-texto p{
    font-weight: bold;
    color: #818181;
    padding-bottom: 40px;
}

.contacto-texto hr{
    width: 70px;
    border: none;
    background: #818181;
    height: 4px;
    display: inline-block;
    margin-bottom: 10px;
}

.formulario {
    width: 100%;
}

#formulario_registro {
    max-width: 700px;
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    text-align: left;
}

.contenedor-campos{
    width: 80%;
    margin: 15px auto;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"],
select,
textarea {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    margin: 0px auto;
    display: block;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color:#000;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}



#formulario_registro button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #6DCCAA;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}

#formulario_registro button:hover {
    background-color: #85D4B7;
}

.formulario #formulario_registro .contenedor-campos label {

  margin-bottom: 8px;
  font-weight: bold;

}


@media only screen and (max-width: 480px) {

    input[type="text"],
    input[type="date"],
    input[type="email"], 
    select {
        width: 95%;
    }

    .contenedor-campos{
        width: 100%;
        margin: 0px;
    }

    #formulario_registro {
        padding: 20px 10px;
        width: 100%;
        margin: 0px;
        border-radius: 0px;
    }

    .formulario {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }
}

/****** FOOTER ******/
footer{
    background-color: #e5e5e5;
    height: 80px;
    color: #8D8583;
    font-weight: bold;
    padding: 10px 30px;
    margin-top: 40px;
}