
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header{
    background-color: #85D4B7;
    padding: 10px 10px;
    width: 100%;
}

.contenedor header .logo img{
    width: 90%;
    max-width: 329px;
}

.menu {
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
}

/* Correcion de espacio extra a los costados ocasionado por margen que agrega flexboxgrid*/
.contenedor .row {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
}

.caja-imagen{
    background-color: #6DCCAA;
    padding-top: 20px;
    padding-bottom: 20px;

}

.fono, .mensaje, .redes-sociales {
    padding-top: 5px;
    padding-bottom: 5px;
}

.imagen1 {
    width: 100%;
}

.imagen1 img {
    max-width: 750px;
    width: 80%;
}

.contenedor-header2{
    background-color: #6DCCAA;
    color: #ffffff;
    padding: 30px;
    font-weight: bold;
}

.redes-sociales a{
    margin: 0px 7px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}

.redes-sociales a img{
    margin: 10px;
    display: block;
    width: 20px;
}

/*IZQUIERDA*/
.izquierda{
    padding-right: 15px;
}

.izquierda h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.izquierda h3{
    font-weight: normal;
    color: #999999;
    margin-bottom: 20px;
}

.izquierda hr{
    width: 70px;
    border: none;
    background: #818181;
    height: 4px;
    display: inline-block;
    margin-bottom: 20px;
}

.izquierda p{
    color: #666666;
    font-weight: bold;
    margin-bottom: 20px;
}

.izquierda img{
    max-width: 300px;
    width: 90%;
    margin-bottom: 40px;
}
/*DERECHA*/
.derecha{
    padding-left: 15px;
}

.derecha .row h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.derecha .row h3{
    font-weight: normal;
    color: #999999;
    margin-bottom: 20px;
}

.derecha .row hr{
    width: 70px;
    border: none;
    background: #818181;
    height: 4px;
    display: inline-block;
    margin-bottom: 20px;
}

.derecha .row p{
    color: #666666;
    font-weight: bold;
    margin-bottom: 20px;
}

.derecha .row img{
    max-width: 300px;
    width: 90%;
}

.derecha .btn-campanas{
    text-decoration: none;
    color: #000000;
    border-color: #000000;
    border: solid 2px;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
}

.contenedor-cuerpo{
    padding-bottom: 30px;
    padding-top: 30px;
}

/*FOOTER*/
footer{
    background-color: #e5e5e5;
    height: 80px;
    color: #8D8583;
    font-weight: bold;
    padding: 10px 30px;
    margin-top: 40px;
}
