* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*************  HEADER  ***************/
header {
    background-color: #85D4B7;
    padding: 20px 10px;
    width: 100%;
    display: table;
}

.logo {
    display: inline; 
}

.menu {
    display: table-cell;
    vertical-align: middle;
}


.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    

}

/*************  SLIDER  ***************/

.slider-contenedor {
    background-color: #6DCCAA;
    width: 100%;
}

.slider-imagen {
    margin: 0 auto;
    display: table;
    padding: 30px;
}

.slider-imagen img {
    width: 700px;
    
}

.slider-social {
    width: 100%;
    color: #fff;
    font-weight: bold;
    padding: 30px;
}

.slider-social .fono {
    display: inline-block;
    width: 30%;
}

.slider-social .mensaje {
    display: inline-block;
    width: 40%;
}

.slider-social .social {
    width: 20%;
    display: inline-block;
}

.slider-social .social a { 
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 7px;

}

.slider-social .social a img {
    margin: 10px;
    display: block;
    width: 20px;
}

/*************  CUERPO  ***************/

.contenedor-cuerpo {
    padding: 30px;
    
}

/*************  CUERPO IZQUIERDA  ***************/
.contenedor-cuerpo .izquierda{

    width: 48%;
    text-align: right;
    display: inline-block;
    margin-right: 30px;
}

.contenedor-cuerpo .izquierda h3{
    font-weight: normal;
    color: #999999;
}

.contenedor-cuerpo .izquierda hr{
    width: 10%;
    display: inline-block;
    border: none;
    background: #818181;
    height: 4px;
}

.contenedor-cuerpo .izquierda p{
    color: #666666;
    font-weight: bold;
}

/*************  CUERPO DERECHA  ***************/
.contenedor-cuerpo .derecha{
    display: inline-block;
    width: 48%;
    text-align: left;
}

.contenedor-cuerpo .derecha h3{
    font-weight: normal;
    color: #999999;
}

.contenedor-cuerpo .derecha hr{
    width: 10%;
    display: inline-block;
    border: none;
    background: #818181;
    height: 4px;
}

.contenedor-cuerpo .derecha p{
    color: #666666;
    font-weight: bold;
    
}

.contenedor-cuerpo .derecha img{
    width: 300px;
}

.contenedor-cuerpo .derecha .btn-campanas{
    text-decoration: none;
    color: #000000;
    border-color: #000000;
    border: solid 2px;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}

footer{
    background-color: #e5e5e5;
    display: inline-block;
    width: 100%;
    height: 100px;
    color: #8D8583;
    font-weight: bold;
    padding: 10px 30px;
}
