{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Mis Perris - Dinamico</title>
    <!-- ESTILOS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/flexboxgrid.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/superslides.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lightcase.css' %}">

</head>
<body id="Inicio">
    <div class="contenedor">
        <!-- REGISTRO Y LOGIN -->
        <div class="row center-xs pre-header">
            <div class="contenedor-login end-xs">
                {% if user.is_authenticated %}
                    <p>Bienvenido, {{ user.username }}!</p>

                    <form class='logout' action="{% url 'cuentas:cerrar_sesion' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="cerrar-sesion">Cerrar Sesión</button>
                    </form>
                {% else %}
                    <a href="{% url 'cuentas:iniciar_sesion' %}">Iniciar Sesión</a>
                    <a href="{% url 'cuentas:registro_usuario' %}">Registrarse</a>
                {% endif %}
            </div>
        </div>
        <!-- HEADER -->
        <header class="menu-default row middle-xs center-xs around-xs">
            <div class="logo col-xs-12 col-md-6">
                <a href="{% url 'misperrishome:pantalla_inicio' %}"><img src="{% static 'img/logo.png' %}"></a>
            </div>
            <nav class="menu col-xs-12 col-md-6">
                <a data-scroll href="{% url 'misperrishome:pantalla_inicio' %}">Inicio</a>
                {% if request.path == '/' %}
                    <a data-scroll href="#Quienes-somos">Qui&eacute;nes somos</a>
                    <a href="#Servicios">Servicios</a>
                    <a href="{% url 'misperrishome:lista_perritos' %}">Galeria</a>
                    <a data-scroll href="#Contacto">Cont&aacute;ctanos</a>
                {% else %}
                    <a data-scroll href="{% url 'misperrishome:pantalla_inicio' %}#Quienes-somos">Qui&eacute;nes somos</a>
                    <a data-scroll href="{% url 'misperrishome:pantalla_inicio' %}#Servicios">Servicios</a>
                    <a data-scroll href="{% url 'misperrishome:lista_perritos' %}">Galeria</a>
                    <a data-scroll href="{% url 'misperrishome:pantalla_inicio' %}#Contacto">Cont&aacute;ctanos</a>
                {% endif %}
                
            </nav>
        </header>
        <header class="header-mobile ">
            <div class="menu-cerrado">
                <div class="logo">
                    <img src="{% static 'img/logo.png' %}">
                </div>
                <nav class="abrir-menu">
                    <a href="#" id="btn-menu"><img src="{% static 'img/menu.png' %}" alt="Abrir Menu"></a>
                </nav>
            </div>
            <div class="menu-abierto">
                <nav class="menu-mobile" id="menu-mobile">
                    <a data-scroll href="#Inicio">Inicio</a>
                    {% if request.path == '/' %}
                    <a data-scroll href="#Quienes-somos">Qui&eacute;nes somos</a>
                    <a href="#Servicios">Servicios</a>
                    <a href="{% url 'misperrishome:lista_perritos' %}">Galeria</a>
                    <a data-scroll href="#Contacto">Cont&aacute;ctanos</a>
                {% else %}
                    <a data-scroll href="{% url 'misperrishome:pantalla_inicio' %}#Quienes-somos">Qui&eacute;nes somos</a>
                    <a data-scroll href="{% url 'misperrishome:pantalla_inicio' %}#Servicios">Servicios</a>
                    <a data-scroll href="{% url 'misperrishome:lista_perritos' %}">Galeria</a>
                    <a data-scroll href="{% url 'misperrishome:pantalla_inicio' %}#Contacto">Cont&aacute;ctanos</a>
                {% endif %}
                </nav>
            </div>
            
        </header>
    {% block content %}
    {% endblock %}
    
<!-- FOOTER -->
        <footer class="row">
            <div class="col-xs-12">
                <p>Desarrollo Web y Mobile</p>
            </div>
        </footer>
    </div>

<!-- SCRIPTS  -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script type="text/javascript" src="{% static 'js/lightcase.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.events.touch.min.js' %}"></script>
<script src="{% static 'js/drystone.js' %}"></script>
<script src="{% static 'js/menu.js' %}"></script>
<script src="{% static 'js/region-ciudad.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/jquery.animate-enhanced.min.js' %}"></script>
<script src="{% static 'js/smooth-scroll.min.js' %}"></script>
<script src="{% static 'js/scroll.js' %}"></script>
<script src="{% static 'js/jquery.superslides.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/formulario.js' %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('a[data-rel^=lightcase]').lightcase({
            swipe: true
        });

        $('.grid').drystone({
            onComplete: function() {}
        });
        
        $('#menu-mobile').hide();
        
    });

    $('#slides').superslides({
        animation: 'fade',
        play: 5000,
        pagination: false,
        inherit_height_from: '.caja-slider'
    });
</script>

</body>
</html>