{% extends 'misperrishome/base.html' %}

{% block content %}
<div class="contacto row center-xs" id="Contacto">
    <div class=" contacto-texto col-xs-12 center-xs">
        <h1>MODIFICAR PERRITO</h1>
        <hr>   
    </div>
    {% if user.username == 'admin' %}
        <div class="formulario col-xs-12 ">
            <form action="" method="POST" enctype="multipart/form-data" id="formulario_registro">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="MODIFICAR PERRITO" class="btn-agregar-perrito">
            </form>
        </div>
    {% else %}
        <div style="margin-bottom:250px;">
            <ul class="errorlist">
                <li>Acceso Denegado: Debes ser administrador para Agregar Perritos.</li>
            </ul>
        </div>
        
    {% endif %}
</div>
{% endblock %}