
{% extends 'misperrishome/base.html' %}
{% load staticfiles %}
{% block content %}

    <!-- SLIDER -->
    <div class="caja-slider row center-xs">
        <div id="slides">
            <ul class="slides-container">
                <li>
                    <img src="{% static 'img/adoptados/Apolo.jpg' %}" alt="Apolo">
                    <div class="container">
                        <h1>Apolo</h1>    
                        <p>"Ahora es un nuevo miembro de la familia y nos entrega alegría día tras día."</p> 
                    </div>
                </li>
                <li>
                    <img src="{% static 'img/adoptados/Duque.jpg' %}" alt="Duque">
                    <div class="container">
                        <h1>Duque</h1>
                        <p>"Mis hijos están felices con su llegada y juegan todo el día."</p>
                    </div>
                </li>
                <li>
                    <img src="{% static 'img/adoptados/Tom.jpg' %}" alt="Tom">
                    <div class="container">
                        <h1>Tom</h1>
                        <p>"No deja de sorprendernos con su ternura y otorga alegría a nuestra familia. ¡Estamos muy felices!."</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    

    <div class="contenedor-social row center-xs middle-md">
        <div class="col-xs-12 col-md-4">
            <div class="fono">
                <p>+56998765431</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="mensaje">
                <p>Rescate y adopci&oacute;n de perros callejeros</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="redes-sociales">
                <a href="http://www.facebook.com"><img src="{% static 'img/facebook.png' %}" alt="facebook"></a> 
                <a href="https://plus.google.com/?hl=es"><img src="{% static 'img/google-plus.png' %}" alt="google"></a> 
                <a href="https://www.instagram.com/?hl=es-la"><img src="{% static 'img/instagram.png' %}" alt="instagram"></a> 
                <a href="mailto:contacto@misperris.cl"><img src="{% static 'img/mail.png' %}" alt="mail"></a>
            </div>
        </div>
    </div>

    <!-- CONTENIDO DE LA PAGINA -->
    <div class="contenedor-cuerpo row center-xs" id="Quienes-somos">
        <div class="izquierda col-xs-12 col-sm-6 end-sm">
            <h1>RESCATE</h1>
            <h3>ETAPA UNO</h3>
            <hr>

            <p>Rescatamos perros en situaci&oacute;n de peligro y/o abandono. Los rehabilitamos y los preparamos para buscarles un hogar.</p>

            <img src="{% static 'img/rescate.jpg' %}">   

        </div>

        <div class="derecha col-xs-12 col-sm-6 start-sm">
            <div class="row">
                <div class="col-xs-12 last-xs first-sm">
                        <img src="{% static 'img/crowfunding.jpg' %}">
                </div>
                <div class="col-xs-12" >
                    <h1>CROWDFUNDING</h1>
                    <h3>FINANCIAMIENTO</h3>
                    <hr>
                    <p>Sigue nuestras redes sociales para informarte acerca de las diversas campa&ntilde;as y actividades
                    que realizamos para obtener financiamiento para seguir ayudando.
                    </p>
                </div>
                
            </div>
            <div class="row center-xs start-sm">
                    <a class="btn-campanas" href="#">CAMPA&Ntilde;AS</a>
            </div>
        </div>
    </div>

    <!-- GALERIA DE IMAGENES -->
    <div class="galeria row center-xs" id="Servicios">
        <div class="galeria-texto col-xs-12 center-xs">
                <h1>RESCATADOS</h1>
                <p>Conoce a nuestros perritos rescatados. ¡Tu puedes ser su nuevo amigo!</p>
        </div>

        <div class="col-xs-12 col-md-9">
            <div class="grid">
                <a class="grid-item" href="{% static 'img/rescatados/Bigotes.jpg' %}" data-rel="lightcase:myCollection" title="Bigotes" style="text-decoration: none;">
                    <img src="{% static 'img/rescatados/Bigotes.jpg' %}" alt="Muy amoroso y jugueton.">
                </a>
                <a class="grid-item" href="{% static 'img/rescatados/Pexel.jpg' %}" data-rel="lightcase:myCollection" title="Pexel" style="text-decoration: none;">
                    <img src="{% static 'img/rescatados/Pexel.jpg' %}" alt="A Pexel le enanta jugar con niños.">
                </a>
                <a class="grid-item" href="{% static 'img/rescatados/Chocolate.jpg' %}" data-rel="lightcase:myCollection" title="Chocolate" style="text-decoration: none;">
                    <img src="{% static 'img/rescatados/Chocolate.jpg' %}" alt="Chocolate es regalón y le encanta dormir.">
                </a>
                <a class="grid-item" href="{% static 'img/rescatados/Luna.jpg' %}" data-rel="lightcase:myCollection" title="Luna" style="text-decoration: none;">
                    <img src="{% static 'img/rescatados/Luna.jpg' %}" alt="Luna es un ternura que te seguirá a todas partes.">
                </a>
                <a class="grid-item" href="{% static 'img/rescatados/Oso.jpg' %}" data-rel="lightcase:myCollection" title="Oso" style="text-decoration: none;">
                    <img src="{% static 'img/rescatados/Oso.jpg' %}" alt="Oso es un gran amigo y se adapta facilmente.">
                </a>
                <a class="grid-item" href="{% static 'img/rescatados/Maya.jpg' %}" data-rel="lightcase:myCollection" title="Maya" style="text-decoration: none;">
                    <img src="{% static 'img/rescatados/Maya.jpg' %}" alt="A Maya le encanta jugar con otros perritos.">
                </a>
                <a class="grid-item" href="{% static 'img/rescatados/Wifi.jpg' %}" data-rel="lightcase:myCollection" title="Wifi" style="text-decoration: none;">
                    <img src="{% static 'img/rescatados/Wifi.jpg' %}" alt="¿Te gusta ver películas? ¡Wifi te acompañará en todas!.">
                </a>
            </div>
        </div>
    </div>

    <!-- CONTACTO -->
    <div class="contacto row center-xs" id="Contacto">
        <div class=" contacto-texto col-xs-12 center-xs">
            <h1>CONTACTANOS</h1>
            <hr>
            <p>Si necesitas hablar con nosotros no dudes en contactarnos llenando el formulario de abajo.</p>        
        </div>
        <div class="formulario col-xs-12 ">
            <form action="index.html" method="post" id="formulario_registro">
                <div class="contenedor-campos">
                
                    <label for="nombre">Nombre Completo</label>
                    <input type="text" id="nombre" name="auxNombre" required onkeypress="return soloLetras(event);" onkeyup="this.value = this.value.toUpperCase();">

                    <label for="rut">RUT</label>  
                    <input type="text" id="rut" name="auxRut" oninput="checkRut(this)" required>    

                    <label for="fecha">Fecha de Nacimiento</label>
                    <input type="date" id="fecha" name="Fecha de Nacimiento" placeholder="Fecha de Nacimiento" max="2000-12-31" required>
                    
                    <label for="email">Email</label>
                    <input type="text" id="email" name="auxEmail" required placeholder="contacto@dominio.cl">
                    
                    <label for="fono">Teléfono de Contacto</label>
                    <input type="text" id="fono" name="auxFono" onkeypress="return SoloNumeros(event);">

                    <label for="regiones">Región</label>
                    <select name="regiones" id="regiones"></select>
                    
                    <label for="comunas">Comuna</label>
                    <select name="comunas"id="comunas"></select>

                    <label for="tipo-vivienda">Tipo de Vivienda</label>
                    <select name="tipo-vivienda" id="tipo-vivienda" required>
                        <option value="0" disabled selected>Tipo de Vivienda</option>
                        <option value="patio-grande">Casa con patio Grande</option>
                        <option value="patio-pequeño">Casa con patio pequeño</option>
                        <option value="sin-patio">Casa sin patio</option>
                        <option value="depto">Departamento</option>
                    </select>
                    <button type="submit">ENVIAR</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}