{% extends 'misperrishome/base.html' %}

{% block content %}
    <h1 style="text-align: center;margin:30px 0px;">Nuestros Perris</h1>
    <div class="filtro-lista">

        
        <form action="{% url 'misperrishome:lista_perritos' %}" method="POST" class="form-filtro row">
            {% csrf_token %}
            <select name="filtro" class="col-xs-6">
                <option value="0" selected disabled>Seleccione Estado</option>
                <option value="1">Rescatado</option>
                <option value="3">Disponible</option>
                <option value="2">Adoptado</option>
                
            </select>
            <input type="submit" value="Filtrar" class="col-xs-6">
        </form>

        
        {% if user.username == 'admin' %}
            <a href="{% url 'misperrishome:agregar_perrito' %}" class="btn-agregar ">Agregar Perrito</a>
        {% endif %}
        
    </div>
    
    <div class="perritos">
        {% for perrito in perritos %}
        <div class="perrito-item row">
            <div class="col-xs-3 col-imagen">
                <img src="{{ perrito.foto.url }}" alt="{{ perrito.nombre }}">
            </div>
            <div class="col-xs-9 col-datos">
                <h2>{{ perrito.nombre }}</h2>
                <p class="perrito-raza">{{ perrito.raza }}</p>
                <p>{{ perrito.descripcion }}</p><br>
                {% if user.username == 'admin' %}
                    <a href="{% url 'misperrishome:editar' id=perrito.id %}" class="btn-perrito-item">Modificar</a>
                    <a href="{% url 'misperrishome:eliminar_perrito' id=perrito.id %}" class="btn-perrito-item">Eliminar</a>
                {% else %}
                    {% if perrito.estado == adoptado %}
                        <p class="bottom-xs">Adoptado por {{ perrito.dueno }}</p>
                    {% else %}
                        {% if perrito.estado == disponible %}
                            <a href="{% url 'misperrishome:adoptar' id=perrito.id %}" class="btn-perrito-item">Adoptar</a>
                        {% else %}
                            <p>{{ perrito.estado }}</p>
                        {% endif %}
                    {% endif %}
                       
                {% endif %}
            </div>
            
            
        </div>
        {% endfor %}
    </div>
{% endblock %}