{% extends 'misperrishome/base.html' %}

{% block content %}
    <h1>{{ perrito.nombre }}</h1>
    <img src="{{ perrito.foto.url }}" alt="{{ perrito.nombre }}">
    <p>{{ perrito.raza }}</p>
    <p>{{ perrito.descripcion }}</p>
    <p>{{ perrito.estado }}</p>

{% endblock %}