{% comment %} {% extends 'base.html' %}

{% block content %}
  <p>
    Your password has been set. You may go ahead and <a href="{% url 'signin' %}">sign in</a> now.
  </p>
{% endblock %} {% endcomment %}


 {% extends 'misperrishome/base.html' %}

{% block content %}
    <!-- REGISTRO DE USUARIO -->
    <div class="contacto row center-xs" id="Contacto">
        <div class=" contacto-texto col-xs-12 center-xs">
            <h1>SU CONTRASEÑA SE RESTABLECIÓ CORRECTAMENTE</h1>
            <hr>  
             <p style="text-align: center;"><a href="{% url 'cuentas:iniciar_sesion' %}">Iniciar sesión</a></p>
        </div>
    </div>
{% endblock %} 