{% comment %} {% extends 'base.html' %}

{% block content %}
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
{% endblock %} {% endcomment %}



{% extends 'misperrishome/base.html' %}

{% block content %}
    <!-- REGISTRO DE USUARIO -->
    <div class="contacto row center-xs" id="Contacto">
        <div class=" contacto-texto col-xs-12 center-xs">
            <h1>RECUPERAR CONTRASEÑA</h1>
            <hr>   
            <p>Te hemos enviado un correo con un enlace para restablecer tu contraseña.</p>
        </div>
    </div>
{% endblock %} 