{% comment %} {% block content %}
  <h3>Forgot password</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
{% endblock %}

 {% endcomment %}

{% extends 'misperrishome/base.html' %}

{% block content %}
    <!-- REGISTRO DE USUARIO -->
    <div class="contacto row center-xs" id="Contacto">
        <div class=" contacto-texto col-xs-12 center-xs">
            <h1>RECUPERAR CONTRASEÑA</h1>
            <hr>   
        </div>
        <div class="formulario col-xs-12 ">
            <form action="" method="post" id="formulario_registro">
                {% csrf_token %}
                {{ form }}
                <label>Correo:</label> {{form.email}}
                <button type="submit" value="Signup">ENVIAR</button>
            </form>
        </div>
    </div>
{% endblock %}