{% comment %} {% extends 'base.html' %}

{% block content %}
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}
 {% endcomment %}


{% extends 'misperrishome/base.html' %}



{% block content %}
    <!-- REGISTRO DE USUARIO -->
    <div class="contacto row center-xs" id="Contacto">
    {% if validlink %}
        <div class=" contacto-texto col-xs-12 center-xs">
        
            <h1>NUEVA CONTRASEÑA</h1>
            <hr>   
        </div>
        <div class="formulario col-xs-12 ">
            <form action="" method="post" id="formulario_registro">
                {% csrf_token %}

                {{ form.new_password1.errors }}
                <label for="id_new_password1">Nueva contraseña:</label>
                {{ form.new_password1 }}

                {{ form.new_password2.errors }}
                <label for="id_new_password2">Confirme contraseña:</label>
                {{ form.new_password2 }}
                <button type="submit" value="CAMBIAR CONTRASEÑA"></button>
            </form>
        </div>
    {% else %}
    <div class=" contacto-texto col-xs-12 center-xs">
        
            <h1>ESTE ENLACE YA HA SIDO UTILIZADO</h1>
            <hr>   
        </div>
    {% endif %}
    </div>

{% endblock %} 