{% extends 'misperrishome/base.html' %}

{% block content %}
    <!-- INICIAR SESION -->
    <div class="contacto row center-xs" id="Contacto">
        <div class=" contacto-texto col-xs-12 center-xs">
            <h1>INICIAR SESION</h1>
            <hr>   
        </div>
        <div class="formulario col-xs-12 "  style="margin">
            <form action="{% url 'cuentas:iniciar_sesion' %}" method="post" id="formulario_registro">
                {% csrf_token %}
                {{ form }}
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}
                <button type="submit" value="Login">INICIAR SESION</button>
                <a style="color: #000;" href="{% url 'cuentas:password_reset' %}">Recuperar contraseña</a>
            </form>
        </div>
    </div>
{% endblock %}