{% extends 'misperrishome/base.html' %}

{% block content %}
    <!-- INICIAR SESION -->
    <div class="contacto row center-xs" id="Contacto">
        <div class=" contacto-texto col-xs-12 center-xs">
            <h1>Recuperar Contraseña</h1>
            <hr>   
        </div>
        <div class="formulario col-xs-12 ">
            <form action="{% url 'cuentas:recuperar_pass' %}" method="post" id="formulario_registro">
                {% csrf_token %}
                {{ form }}
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}
                <button type="submit" value="Login">ENVIAR CONTRASEÑA</button>
            </form>
        </div>
    </div>
{% endblock %}