{% extends 'misperrishome/base.html' %}

{% block content %}
    <!-- REGISTRO DE USUARIO -->
    <div class="contacto row center-xs" id="Contacto">
        <div class=" contacto-texto col-xs-12 center-xs">
            <h1>REGISTRO DE USUARIO</h1>
            <hr>   
        </div>
        <div class="formulario col-xs-12 ">
            <form action="/cuentas/registro_usuario/" method="post" id="formulario_registro">
                {% csrf_token %}
                {{ form }}

                <button type="submit" value="Signup">REGISTRARSE</button>
            </form>
        </div>
    </div>
{% endblock %}